body {
  font-family: "Roboto", sans-serif;
  background-color: var(--font-color-light);
  color: var(--font-color-dark);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  /*max-width: 100%;
  height: auto;*/
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

section {
  list-style: none;
}

header {
  border-bottom: 1px solid #ececec;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --logo-and-hover: #2196f3;
  --footer-and-back-solution: #2f303a;
  --font-color-dark: #212121;
  --back-for-section: #eeeeee;
  --color-for-text-in-the-form: #757575;
  --button-colors-in-the-sorter: #f5f4fa;
  --font-color-light: #ffffff;
  --contact-font: #757575;
  --back-section: #f5f4fa;
  --reg-cust-color: #afb1b8;
  --black:#000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.text-on-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card-box:hover .text-on-image {
  transform: translate(0, 0);
}

@media screen and (max-width: 767px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: var(--logo-and-hover);
    margin-right: 88px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: var(--logo-and-hover);
    margin-right: 275px;
  }
}
@media screen and (max-width: 479px) {
  .logo {
    margin-right: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: var(--logo-and-hover);
  }
}
@media screen and (min-width: 768px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: var(--logo-and-hover);
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: var(--logo-and-hover);
    margin-right: 93px;
  }
}
.spanwhite {
  color: #fff;
}

.spanblack {
  color: #000;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color-dark);
  background-color: var(--button-colors-in-the-sorter);
  border-radius: 4px;
  border: none;
}

.button:hover {
  color: #fff;
  background-color: var(--logo-and-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:focus {
  color: #fff;
  background-color: var(--logo-and-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .button-list {
    gap: 8px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .button-list {
    gap: 8px;
    display: flex;
    justify-content: center;
    row-gap: 15px;
  }
}
.gap-buttons-filling {
  margin-bottom: 34px;
}

.button-hero {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color-light);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero:hover {
  background: var(--logo-and-hover);
}

.button-hero:focus {
  background: var(--logo-and-hover);
}

@media screen and (max-width: 1199px) {
  .hero {
    padding: 120px 0;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .font-hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    color: var(--font-color-light);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .font-hero {
    font-size: 21px;
  }
}
@media screen and (min-width: 768px) {
  .font-hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    width: 360px;
    color: var(--font-color-light);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .font-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    width: 696px;
    color: var(--font-color-light);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .back-hero {
    background-size: cover;
    height: 400px;
    max-width: 480px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .back-hero {
    background-size: cover;
    height: 400px;
    max-width: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .back-hero {
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-resolution: 1dppx), (min-resolution: 96dpi), (min-device-pixel-ratio: 1) {
  .back-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero/hero-phone.jpg");
  }
}
@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .back-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero/hero-phone@2x.jpg");
  }
}
@media screen and (min-resolution: 1dppx) and (min-width: 768px), screen and (min-resolution: 95dpi) and (min-width: 768px), screen and (min-device-pixel-ratio: 1) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero/hero-tablet.jpg");
  }
}
@media screen and (min-resolution: 2dppx) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-resolution: 1dppx) and (min-width: 1200px), screen and (min-resolution: 95dpi) and (min-width: 1200px), screen and (min-device-pixel-ratio: 1) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero/hero-desktop.jpg");
  }
}
@media screen and (min-resolution: 2dppx) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .withlogo-footer-flex:first-child {
    row-gap: 20px;
  }
  .withlogo-footer-flex {
    row-gap: 8px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .withlogo-footer-flex {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .withlogo-footer {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .withlogo-footer {
    margin-right: 70px;
  }
}
.textfooter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color-light);
}

.textfooter:hover {
  color: var(--logo-and-hover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textfooter:focus {
  color: var(--logo-and-hover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textfooter-opacity {
  opacity: 0.6;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  color: var(--logo-and-hover);
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 767px) {
  .footer-icons {
    text-align: center;
    margin-top: 60px;
  }
}
.icon-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  object-fit: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover {
  background-color: var(--logo-and-hover);
}

.icon-footer:focus {
  background-color: var(--logo-and-hover);
}

@media screen and (min-width: 768px) {
  .sub-footer {
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-footer {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
.sub-button-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .text-sub-footer {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-and-back-solution);
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .text-sub-footer {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-and-back-solution);
    width: 360px;
    height: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .sub-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.button-footer {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color-light);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--font-color-light);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer:hover {
  color: var(--font-color-light);
  background-color: var(--logo-and-hover);
}

.icons-footer:focus {
  color: var(--font-color-light);
  background-color: var(--logo-and-hover);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-and-back-solution);
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .text-join {
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .text-join {
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .sub-tg {
    margin-left: 93px;
  }
}
@media screen and (max-width: 1199px) {
  .text-sub {
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .text-sub {
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
  }
}
.backdrop {
  position: fixed;
  z-index: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

@media screen and (max-width: 479px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 659px;
    background-color: #ffffff;
    padding: 40px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: #ffffff;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    padding: 40px;
  }
}
.modal-window {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--color-for-text-in-the-form);
  top: 10px;
  right: 10px;
  fill: #000;
}

.close-icon {
  fill: var(--color-for-text-in-the-form);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover {
  fill: var(--logo-and-hover);
  border: var(--logo-and-hover);
}

.close-icon:focus {
  fill: var(--logo-and-hover);
  border: var(--logo-and-hover);
}

/*FORM*/
.text-area {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-rel {
  position: relative;
  margin-top: 4px;
}

.text-area-last {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
}

.form-item-last {
  margin-top: 20px;
}

.form-icons {
  top: 50%;
  left: 12px;
  display: block;
  transform: translate(0%, -50%);
  position: absolute;
  fill: currentColor;
}

.tg-icon {
  top: 50%;
  left: 150px;
  display: block;
  transform: translate(0%, -50%);
  position: absolute;
  fill: currentColor;
}

.text-area:hover.form-icons,
.text-area:focus.form-icons {
  fill: var(--logo-and-hover);
}

.text-area:hover, .text-area:focus {
  border-color: var(--logo-and-hover);
}

.padding-button-form {
  margin-top: 30px;
}

.button-form {
  width: 200px;
  height: 50px;
}

.appointment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.header-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.term-link {
  color: var(--logo-and-hover);
}

.terms {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.form-item {
  margin-top: 10px;
}

.term-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-svg {
  color: #212121;
}

.text-what-are-we-doing {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #ffffff;
}

.pos-wawd {
  position: relative;
  display: block;
}

@media screen and (min-width: 1200px) {
  .what-are-we-doing {
    padding-top: 0;
  }
}
.wawd-img {
  width: 370px;
  height: 294px;
}

.wawd-flex {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .what-are-we-doing {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.employeeSi {
  padding-bottom: 30px;
  padding-top: 30px;
}

.employees {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.box-emp {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .employee-image {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .employee-image {
    width: 270px;
    height: 260px;
  }
}
.textEI {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-for-text-in-the-form);
}

.headerEI {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
  color: var(--font-color-dark);
}

.icons-empt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--reg-cust-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-empt:hover {
  color: var(--font-color-light);
  background-color: var(--logo-and-hover);
}

.icons-empt:focus {
  color: var(--font-color-light);
  background-color: var(--logo-and-hover);
}

.icons-emp {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icon-emp {
  fill: currentColor;
  height: 20px;
  width: 20px;
}

.our-team {
  background-color: var(--back-section);
}

@media screen and (max-width: 767px) {
  .diff-area {
    width: 100%;
    height: 120px;
    background-color: var(--back-section);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .diffs-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .diff-area {
    height: 120px;
    background-color: var(--back-section);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .diffs-item {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .diff-area {
    width: 270px;
    height: 120px;
    background-color: var(--back-section);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .diffs-item {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .diffs-header {
    text-align: center;
  }
}
.diffs-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: var(--font-color-dark);
  margin-bottom: 10px;
}

.diff-img {
  width: 70px;
  height: 70px;
}

.diffs-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  letter-spacing: 0.03em;
  color: var(--color-for-text-in-the-form);
}

.diffs-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.what-are-we-doing-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--font-color-dark);
}

.menu {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color-dark);
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:not(:last-child) {
  margin-right: 50px;
}

.menu:hover {
  color: var(--logo-and-hover);
}

.menu:focus {
  color: var(--logo-and-hover);
}

.menu.current {
  color: var(--logo-and-hover);
}

.header-pos {
  justify-content: space-between;
}

.menu.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-and-hover);
}

@media screen and (max-width: 767px) {
  .menu-flex {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    display: none;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .menu-flex {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (min-width: 768px) {
  .header-contact-flex {
    display: block;
    margin-left: auto;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact-flex {
    display: flex;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header-contact {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    display: none;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-font);
    padding: 8px 0;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-font);
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-contact:hover {
  color: var(--logo-and-hover);
}

.header-contact:focus {
  color: var(--logo-and-hover);
}

.icon-header {
  fill: currentColor;
  margin-right: 10px;
}

.icon-header1 {
  width: 16px;
  height: 12px;
}

.icon-header2 {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .burger {
    width: 24px;
    height: 16px;
    fill: var(--black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
}

.burger:hover {
  fill: var(--logo-and-hover);
}

.burger:focus {
  fill: var(--logo-and-hover);
}

@media screen and (min-width: 768px) {
  .burger {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.pos-mobile {
  justify-content: space-between;
  display: block;
}

@media screen and (max-width: 767px) {
  .pos-mobile:last-child {
    padding: 23px 22px;
  }
  .pos-mobile:first-child {
    padding: 15px 16px;
  }
}
/*---------------MOBILE MODAL---------------*/
.mobile-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--font-color-light);
  top: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu-item.current {
  color: var(--logo-and-hover);
}

.mobile-close-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--black);
}

.mobile-close-button:hover, .mobile-close-button:focus {
  fill: var(--logo-and-hover);
}

.mobile-container {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.button-close-mobile {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 10px;
  right: 10px;
  padding: 0;
  line-height: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-flex {
  padding-bottom: 32px;
}

.mobile-menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--font-color-dark);
}

.mobile-menu-item:hover, .mobile-menu-item:focus {
  color: var(--logo-and-hover);
}

.mobile-contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--contact-font);
  padding-bottom: 32px;
}

.mobile-contact:hover, .mobile-contact:focus {
  color: var(--logo-and-hover);
  font-size: 34px;
}

.mobile-links {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
}

.mobile-link-stick {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--logo-and-hover);
}

.filling-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filling-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.filling-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filling-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.position {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-text {
  padding: 20px 24px;
  border: 1px solid var(--back-for-section);
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-text {
    flex-grow: 1;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .card-box {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 768px) {
  .card-box {
    width: 354px;
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 1200px) {
  .card-box {
    width: 370px;
    border-radius: 0px 0px 4px 4px;
  }
}
.card-text-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 8px;
  color: var(--font-color-dark);
}

.card-text-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-for-text-in-the-form);
}

@media screen and (max-width: 767px) {
  .card-image {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .card-image {
    width: 354px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1200px) {
  .card-image {
    width: 370px;
  }
}
@media screen and (min-width: 320px) {
  .reg-cust {
    fill: var(--reg-cust-color);
    display: flex;
    width: 210px;
    height: 92px;
    border: 1px solid #ececec;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .reg-cust {
    fill: var(--reg-cust-color);
    display: flex;
    width: 225px;
    height: 92px;
    border: 1px solid #ececec;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .reg-cust {
    fill: var(--reg-cust-color);
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #ececec;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.reg-cust:hover {
  fill: var(--logo-and-hover);
  border-color: var(--logo-and-hover);
}

.reg-cust:focus {
  fill: var(--logo-and-hover);
  border-color: var(--logo-and-hover);
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */