.button-hero {
  font-family: 'Roboto';

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color-light);

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero:hover {
  background: var(--logo-and-hover);
}

.button-hero:focus {
  background: var(--logo-and-hover);
}

@media screen and (max-width:1199px){
  .hero {
    padding: 120px 0;
    text-align: center;
  }
}




@media screen and (min-width:1200px){
.hero {
  padding: 200px 0;
  text-align: center;
}
}


@media screen and (max-width:767px){

  .font-hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
  
    margin: 0 auto;
    width: 100%;
  
    color: var(--font-color-light);
    margin-bottom: 30px;
  } 


 
}
@media screen and (max-width:480px){
  .font-hero {
  font-size: 21px;}
}

@media screen and (min-width:768px){
  .font-hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    margin: 0 auto;
    width: 360px;
  
    color: var(--font-color-light);
    margin-bottom: 30px;
  }
}

@media screen and (min-width:1200px){
.font-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;
  width: 696px;

  color: var(--font-color-light);
  margin-bottom: 30px;
}
}

@media screen and (max-width:767px){

  .back-hero{
    background-size: cover;
    height: 400px;
    max-width: 480px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
}

  @media screen and (min-width:768px){

    .back-hero {
      background-size: cover;
      height: 400px;
      max-width: 768px;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
  }

  @media screen and (min-width:1200px){

  .back-hero{
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

    @media screen and (min-resolution: 1dppx), (min-resolution: 96dpi), (min-device-pixel-ratio: 1) {
      .back-hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img/index/hero/hero-phone.jpg');
      }
    }
    
    @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
      .back-hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img/index/hero/hero-phone@2x.jpg');
      }
    }
    
    @media screen and (min-resolution: 1dppx) and (min-width: 768px),
      screen and (min-resolution: 95dpi) and (min-width: 768px),
      screen and (min-device-pixel-ratio: 1) and (min-width: 768px) {
      .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img/index/hero/hero-tablet.jpg');
      }
    }
    
    @media screen and (min-resolution: 2dppx) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
      .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img/index/hero/hero-tablet@2x.jpg');
      }
    }
    
    @media screen and (min-resolution: 1dppx) and (min-width: 1200px),
      screen and (min-resolution: 95dpi) and (min-width: 1200px),
      screen and (min-device-pixel-ratio: 1) and (min-width: 1200px) {
      .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img/index/hero/hero-desktop.jpg');
      }
    }
    
    @media screen and (min-resolution: 2dppx) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
      .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img/index/hero/hero-desktop@2x.jpg');
      }
    }