@media screen and (max-width:767px){
.diff-area {
    width: 100%;
    height: 120px;
    background-color: var(--back-section);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }



  .diffs-item {
    width: 450px;
  }
}
@media screen and (min-width:768px){
  .diff-area {
      
      height: 120px;
      background-color: var(--back-section);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
  
  
  
  
    .diffs-item {
      width: 350px;
    }
  }
  @media screen and (min-width:1200px){
    .diff-area {
        width: 270px;
        height: 120px;
        background-color: var(--back-section);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }
    
    
    
      .diffs-item {
        width: 270px;
      }
    }

    @media screen and (max-width:767px){
      .diffs-header {
        text-align: center;
      }
    }
  .diffs-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    color: var(--font-color-dark);
    margin-bottom: 10px;

}
  
  .diff-img {
    width: 70px;
    height: 70px;
  }

  .diffs-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
    letter-spacing: 0.03em;
  
    color: var(--color-for-text-in-the-form);
  }
  
  .diffs-flex {
    display: flex;
    flex-wrap: wrap;
  
    gap: 30px;
  }