:root {
    --logo-and-hover: #2196f3;
    --footer-and-back-solution: #2f303a;
    --font-color-dark: #212121;
    --back-for-section: #eeeeee;
    --color-for-text-in-the-form: #757575;
    --button-colors-in-the-sorter: #f5f4fa;
    --font-color-light: #ffffff;
    --contact-font: #757575;
    --back-section: #f5f4fa;
    --reg-cust-color: #afb1b8;
    --black:#000;
  }